# Server
HTTP_ADDRESS=:8080
MAX_UPLOAD_SIZE=10485760

# PostgreSQL
DATABASE_DSN=postgres://gophprofile:gophprofile@localhost:5432/gophprofile?sslmode=disable

# S3 / MinIO
S3_ENDPOINT=localhost:9000
S3_ACCESS_KEY=minioadmin
S3_SECRET_KEY=minioadmin
S3_BUCKET=avatars
S3_USE_SSL=false

# RabbitMQ
RABBITMQ_URL=amqp://guest:guest@localhost:5672/
RABBITMQ_EXCHANGE=avatars.exchange
RABBITMQ_QUEUE=avatars.processing

# Общие настройки
LOG_LEVEL=info
SHUTDOWN_TIMEOUT=10s
