apiVersion: v1
kind: Secret
metadata:
  name: gophprofile-secrets
  namespace: gophprofile
type: Opaque
stringData:
  DATABASE_DSN: postgres://gophprofile:change-me@postgres:5432/gophprofile?sslmode=disable
  S3_ACCESS_KEY: change-me
  S3_SECRET_KEY: change-me
  RABBITMQ_URL: amqp://gophprofile:change-me@rabbitmq:5672/
