apiVersion: v1
kind: Secret
metadata:
  name: gophprofile-secrets
  namespace: gophprofile
type: Opaque
stringData:
  DATABASE_DSN: postgres://gophprofile:_example_password_@postgres:5432/gophprofile?sslmode=disable
  S3_ACCESS_KEY: _example_access_key_
  S3_SECRET_KEY: _example_secret_key_
  RABBITMQ_URL: amqp://gophprofile:_example_password_@rabbitmq:5672/
